<%= form_with(model: co_user_role_cycle, local: true) do |form| %>
  <% if co_user_role_cycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(co_user_role_cycle.errors.count, "error") %> prohibited this co_user_role_cycle from being saved:</h2>

      <ul>
        <% co_user_role_cycle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.text_field :role_id %>
  </div>

  <div class="field">
    <%= form.label :cycle_id %>
    <%= form.text_field :cycle_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
